.pokecard{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 5%;
    width: 400px;
    height: 300px;
    margin-bottom: 10px ;
    background: linear-gradient(90deg, #8B939A 50%, #5B6467 100%);
}

.pokeName{
    text-transform: capitalize;
    text-decoration: none;
    color: #444a4d;
}

.pokecard img{
    width: 40%;
    height: 80%;
}

.pokecard ul{
    list-style: none;
}

.typeContainer{
    padding-top: 15px;
    display: flex;
    justify-content: space-around;
}

.type-button{
    border: 1px none rgb(202, 194, 194);
    border-radius: 5px;
    width: 20%;
    font-size: medium;
    font-weight: 600;
    text-transform: capitalize;
}

.imgContainer{
    height: 65%;
}

.fire{
  background-color: #EE8130;
}

.fire a {
  color: white;
}

.grass{
  background-color: #7AC74C;
}

.water{
  background-color: #6390F0;
}

.normal{
  background-color: #A8A77A;
}

.flying{
  background-color: #A98FF3;
}

.bug{
  background-color: #A6B91A;
}

.electric{
  background-color: #F7D02C;
}

.poison{
  background-color: #A33EA1;
}

.ice{
  background-color: #96D9D6;
}

.fighting{
  background-color: #C22E28;
}

.ground{
  background-color: #E2BF65;
}

.psychic{
  background-color: #F95587;
}

.rock{
  background-color: #B6A136;
}

.ghost{
  background-color: #735797;
}

.dragon{
  background-color: #6F35FC;
}

.dark{
  background-color: #705746;
}

.steel{
  background-color: #B7B7CE;
}

.fairy{
  background-color: #D685AD;
}