.container{
    display: flex;
    justify-content: center;
}



.pokeContainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;

}

.compContainer{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.filter-container{
    display: flex;
    justify-content: space-around;
}