nav{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-bottom: 10px;
    background: linear-gradient(90deg, #5A5A5A 50%, #1b1b1a 100%);
}

.styled-ul{
    width: 40%;
    margin-right: 5%;
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;

}

ul a{
    text-decoration: none;
}

.nav-button{
    margin-left: 5px;
    width: 150px;
    height: 25px;
    border: 3px none black;
    border-radius: 50px;
    color: black;
    font-size: large;
    background: linear-gradient(130deg, #c9b24f 50%, #FFF293 100%);
}

.nav-button a:visited{
    color:black
}